@using Newtonsoft.Json;
<!DOCTYPE html>

<html data-ng-app="IMS">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/styles/bootstrap.css" />
    <link rel="stylesheet" href="~/styles/guyusoft.css" />
    <link rel="stylesheet" href="~/styles/simple-line-icons.css" />
    <link rel="stylesheet" href="~/plugins/ngDialog/ngDialog.min.css" />
    <link rel="stylesheet" href="~/plugins/ngDialog/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="~/plugins/dataTable/jquery.dataTables.css" />
    <title>@ViewBag.Title</title>
</head>
<body class="wrapper">
    @{ 
        var modelJson = (Model == null ? "" : JsonConvert.SerializeObject(Model));
    }
    <input type="hidden"  value="@modelJson" id="dataModel"/>

    <nav role="navigation" class="navbar topnavbar">
        @Html.Partial("~/Views/Partial/_navigation.cshtml")
    </nav>

    <aside class="aside">
        @Html.Partial("~/Views/Partial/_aside.cshtml")
    </aside>

    @RenderBody()

    <footer class=""><span class="ng-binding">© 2017 - Guyusoft.com</span></footer>

    <script src="~/scripts/angular1.6.5.min.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/plugins/ngDialog/ngDialog.min.js" type="text/javascript"></script>
    <script src="~/plugins/dataTable/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/plugins/dataTable/angular-datatables.js" type="text/javascript"></script>
    <script src="~/scripts/guyusoft.js" type="text/javascript"></script>

    @RenderSection("Script")
</body>
</html>
